@model BLL.DTOs.User

@{
	ViewData["Title"] = "SignUp";
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/AdminWeb.styles.css" asp-append-version="true" />
	<link href="~/plugins/notification/snackbar/snackbar.min.css" rel="stylesheet" />
	<script src="/js/customs/layouts/modern-light-menu/loader.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
	<link href="/css/customs/layouts/modern-light-menu/light/loader.css" rel="stylesheet" />
	<link href="/css/customs/assets/light/scrollspyNav.css" rel="stylesheet" />

	<link href="/css/customs/layouts/modern-light-menu/light/structure.css" rel="stylesheet" type="text/css" />
	<link href="/css/customs/assets/light/components/modal.css" rel="stylesheet" type="text/css" />

	<link href="/plugins/highlight/styles/monokai-sublime.css" rel="stylesheet" />
	<link href="/plugins/waves/waves.min.css" rel="stylesheet" type="text/css" />

	<link href="/css/customs/plugins/light/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" type="text/css" />

	<link href="~/css/customs/assets/light/main.css" rel="stylesheet" type="text/css" />

	<link href="/css/customs/layouts/modern-light-menu/light/plugin.css" rel="stylesheet" type="text/css" />

	<link href="/css/customs/assets/light/dashboard/dash_1.css" rel="stylesheet" type="text/css" />
	<link href="/css/customs/plugins/light/sweetalerts2/custom-sweetalert.css" rel="stylesheet" type="text/css" />

	<link href="/css/customs/assets/light/authentication/auth-cover.css" rel="stylesheet" />

	<!-- END PAGE LEVEL PLUGINS/CUSTOM STYLES -->
	<style>
		.notification {
			position: fixed;
			top: 60px;
			right: 20px;
			font-size: 30px;
			background-color: #5cb85c;
			color: white;
			padding: 10px;
			border-radius: 4px;
			display: none;
			z-index: 1000;
		}

		.page-loading {
			position: fixed;
			inset: 0;
			background: rgba(0, 0, 0, 0.35);
			display: flex;
			align-items: center;
			justify-content: center;
			z-index: 9999;
		}

	</style>


</head>

<body class="form">

	<!-- BEGIN LOADER -->
	<div id="load_screen">
		<div class="loader">
			<div class="loader-content">
				<div class="spinner-grow align-self-center"></div>
			</div>
		</div>
	</div>
	<!--  END LOADER -->

	<div class="auth-container d-flex">

		<div class="container mx-auto align-self-center">

			<div class="row">

				<div class="col-6 d-lg-flex d-none h-100 my-auto top-0 start-0 text-center justify-content-center flex-column">
					<div class="auth-cover-bg-image"></div>
					<div class="auth-overlay"></div>

					<div class="auth-cover">

						<div class="position-relative">

							<img src="/images/auth-cover.svg" alt="auth-img">

							<h2 class="mt-5 text-white font-weight-bolder px-2">
								Welcome to the community of expert developers
							</h2>
							<p class="text-white px-2">
								It is easy to setup with great customer experience. Start using application
							</p>
						</div>

					</div>

				</div>

				<div class="col-xxl-4 col-xl-5 col-lg-5 col-md-8 col-12 d-flex flex-column align-self-center ms-lg-auto me-lg-0 mx-auto"
					 style="margin-top: 30px">
					<div class="card" style="border: none">
						<div class="card-body">

							<div class="row">
								<div class="col-md-12 mb-3">

									<h2>Sign Up</h2>
									<p>Enter your information to register</p>

								</div>
								<form asp-action="SignUp" id="signup-form" method="post">
									<div class="col-md-12">
										<div class="mb-3">
											<label for="username" class="form-label">Name</label>
											<input type="text" id="username" class="form-control add-billing-address-input" required>
										</div>
									</div>
									<div class="col-md-12">
										<div class="mb-3">
											<label for="email" class="form-label">Email</label>
											<input type="email" id="email" class="form-control" onblur="checkEmailExist()" required>
											<span id="email-error" class="text-danger mb-5"></span>
										</div>
									</div>
									<div class="col-12">
										<div class="mb-3">
											<label for="password" class="form-label">Password</label>
											<input type="text" id="password" oninput="validatePassword()" class="form-control" required>
											<span id="password-error" class="text-danger mb-5"></span>
										</div>
									</div>


									<div class="col-12">
										<div class="mb-3">
											<label for="phone" class="form-label">Phone number</label>
											<input type="text" id="phone-number" oninput="validatePhoneNumber()" class="form-control" required>
											<span id="phone-number-error" class="text-danger mb-5"></span>
										</div>
									</div>


									<div class="col-12">
										<div class="mb-3">
											<div class="form-check form-check-primary form-check-inline">
												<input class="form-check-input me-3" type="checkbox" id="form-check-default">
												<label class="form-check-label" for="form-check-default">I agree the <a href="javascript:void(0);" class="text-primary">Terms and Conditions</a></label>
											</div>
										</div>
									</div>


									<div class="col-12">
										<div class="mb-4">
											<input type="submit" class="btn btn-secondary w-100" value="SIGN UP">
										</div>
									</div>
								</form>


								<div class="col-12">
									<div class="text-center">
										<p class="mb-0">Already have an account ? <a href="/user/login" class="text-warning">Sign in</a></p>
									</div>
								</div>

							</div>

						</div>
					</div>
				</div>

			</div>

		</div>

	</div>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="/js/user/signup.js"></script>
	<script src="/js/user/formValidation.js"></script>

</body>
</html>